.button {
  display: block;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  // padding: 14px 25px 15px 25px;
  padding: 14px 0 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  border: 2px solid #444444;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: #7c7c7c;
  }
}

.button--special-offer {
  width: auto;
}

.button--reviews {
  width: 100%;
}

.button--contacts {
  width: auto;
}

@media (min-width: @tablet-width) {
  .button--special-offer {
    width: 100%;
  }

  .button--contacts {
    width: 24%;
  }
}

@media (min-width: @desktop-width) {
  .button--special-offer {
    width: 290px;
    margin: 0;
  }
}
