.button {
  display: block;
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: 14px 0 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  border: 2px solid #444444;

  &:hover {
    background-color: #444444;
    color: rgba(255, 255, 255, 1);
  }

  &:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--special-offer {
  width: auto;
}

.button--reviews {
  width: 100%;
}

.button--contacts {
  width: auto;
}

.button--catalog {
  width: auto;
  margin: 20px auto 30px auto;
}

@media (min-width: @tablet-width) {
  .button--special-offer {
    width: auto;
  }

  .button--contacts {
    padding: 14px 25px 15px 25px;
    width: 178px;
    margin: 0 auto;
  }

  .button--catalog {
    margin: 20px auto 44px auto;
  }

  .button--reviews {
    order: -1;
    align-self: center;
    margin-top: -4px;
    width: 122px;
    padding: 14px 25px 15px 25px;
  }
}

@media (min-width: @desktop-width) {
  .button--special-offer {
    width: 290px;
    margin: 0;
  }

  .button--catalog {
    width: 230px;
    margin: 44px 0 32px 0;
  }

  .button--reviews {
    order: -1;
    align-self: center;
    width: 122px;
    margin: -1px 0 0 0;
  }

  .button--contacts {
    padding: 14px 25px 15px 25px;
    width: 178px;
  }
}
