.contacts {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 39px;
}

.contacts__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 20px 0 26px 0;
}

.contacts__list {
  width: 100%;
  margin-bottom: 36px;
}

.contacts__item {
  display: flex;
}

.contacts__type {
  width: 30%;
  margin-bottom: 30px;
}

.contacts__value--email {
  text-decoration: none;
  color: #000000;
  margin-bottom: 30px;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #46c1ae;
    border-color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__value--address {
  margin: 0;
  width: 70%;
}

.contacts__map {
  min-width: 320px;
  width: 100%;
  margin: 0 0 38px 0;
}

@media (min-width: @tablet-width) {
  .contacts {
    font-size: 17px;
    margin-bottom: 54px;
  }

  .contacts__flex {
    position: relative;
  }

  .contacts__flex::after {
    content: "";
    position: absolute;
    top: 48px;
    right: 52px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 20px 50px;
    margin: 42px 0 30px 0;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
  }

  .contacts__item {
    flex-basis: 50%;
  }

  .contacts__type {
    flex-basis: 23%;
    margin-bottom: 30px;
  }

  .contacts__value--email {
    flex-basis: auto;
    margin-right: 50px;
    margin-bottom: 60px;
  }

  .contacts__map {
    width: 100%;
    margin: 0 0 54px 0;
  }

  .button--contacts {
    padding: 14px 25px 15px 25px;
    width: 178px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-bottom: 50px;
  }

  .contacts__flex {
    margin: 0 auto;
    width: 875px;
    padding: 150px 50px 0 225px;
  }

  .contacts__flex::after {
    top: 158px;
    left: 113px;
  }

  .contacts__title {
    order: -1;
    width: 100%;
    font-size: 53px;
    line-height: 57px;
    margin: 0 0 28px 0;
    padding: 20px 0;
  }

  .contacts__list {
    order: 0;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 0 184px 0;
    padding: 0;
  }

  .contacts__item {
    flex-basis: 350px;
  }

  .contacts__type {
    flex-basis: 80px;
  }

  .contacts__value {
    margin: 0;
  }

  .contacts__value--email {
    margin-bottom: 30px;
  }

  .contacts__map {
    order: 1;
    width: 525px;
    height: 457px;
    margin: -176px 0 55px 0;
  }

  .container--contacts-button {
    width: 350px;
    padding: 0;
    order: 2;
    margin: -108px 0 0 -58px;
  }

  .button--contacts {
    padding: 14px 25px 15px 25px;
    width: 178px;
    // margin: -108px 0 0 0;
  }
}
