.main-nav__list {
  .list-none;
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  border-bottom: 2px solid @ec;
}

.main-nav__logo-img {
  display: block;
  pointer-events: none;
}

.main-nav__logo {
  margin: 22px auto;
  padding-left: 20px;

  &:hover .main-nav__logo-img {
    opacity: 0.6;
  }

  &:active .main-nav__logo-img {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  height: 14px;
  width: 20px;
  font-size: 0;
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 14px;
  width: 20px;
  background-image: url("../img/icon-menu-open.svg");
}

.main-nav-item {
  flex-basis: 100%;
}

.main-nav__item-text {
  display: block;
  pointer-events: none;
}

.main-nav__link {
  display: block;
  padding: 25px 0 25px 76px;
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid @ec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--icon {
  &:hover {
    opacity: 0.6;

    .main-nav__item-icon {
      fill: #63d1bb;
    }
  }

  &:active .main-nav__item-icon,
  &:active .main-nav__item-text {
    opacity: 0.3;
  }
}

.main-nav__item--search,
.main-nav__item--cart {
  position: relative;
}

.main-nav__item-icon--search {
  pointer-events: none;
  position: absolute;
  top: 29px;
  left: 30px;
  width: 18px;
  height: 18px;
  fill: #d3d2d2;
}

.main-nav__item-icon--cart {
  pointer-events: none;
  position: absolute;
  top: 29px;
  left: 30px;
  width: 21px;
  height: 18px;
  fill: #d3d2d2;
}

.main-nav__new,
.main-nav__sale,
.main-nav__delivery {
  display: none;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened {
    .main-nav__list {
      display: block;
    }

    .main-nav__toggle::before {
      width: 21px;
      height: 20px;
      background-image: url("../img/icon-menu-close.svg");
    }
  }

  .main-nav--nojs {
    .main-nav__list {
      display: block;
    }

    .main-nav__toggle::before {
      background-image: none;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .main-nav__wrapper {
    border-bottom: none;
  }

  .main-nav__logo {
    padding: 22px 0 20px 0;
    margin: 0;
  }

  .main-nav__logo-img {
    width: 113px;
    height: 46px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__link {
    border-bottom: none;
  }

  .main-nav__item--search {
    order: -2;
    font-size: 0;
    width: 82px;
    height: 88px;
    border-bottom: none;
    border-right: 1px solid @ec;
    border-left: 1px solid @ec;
    position: absolute;
    top: 0;
    right: 316px;
  }

  .main-nav__item-icon--search {
    top: 35px;
    left: 32px;
  }

  .main-nav__item--cart {
    order: -1;
    position: absolute;
    top: 0;
    right: 50px;

    .main-nav__link {
      padding: 32px 0 32px 84px;
    }
  }

  .main-nav__item-icon--cart {
    top: 35px;
    left: 33px;
  }

  .main-nav__toggle::before {
    background-image: none;
  }

  .main-nav__item--catalog {
    .main-nav__link {
      padding: 18px 0;
    }
    z-index: 1;
    font-size: 15px;
    background-color: transparent;
    position: absolute;
    top: 88px;
    left: 50px;
  }

  .main-nav__item--form {
    .main-nav__link {
      padding: 18px 0;
    }
    z-index: 1;
    font-size: 15px;
    background-color: transparent;
    position: absolute;
    top: 88px;
    left: 217px;
  }

  .main-nav__delivery {
    display: block;
    position: absolute;
    z-index: 1;
    top: 88px;
    right: 50px;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 18px 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1150px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    margin: 0 auto;
  }

  .main-nav__logo {
    padding: 9px 0 8px 0;
    margin: 0 auto;
  }

  .main-nav__logo-img {
    width: 149px;
    height: 72px;
  }

  .main-nav__item--catalog {
    .main-nav__link {
      padding: 33px 36px 33px 0;
    }
    border-right: 1px solid @ec;
    font-size: 17px;
    top: 0;
  }

  .main-nav__item--form {
    .main-nav__link {
      padding: 33px 0 33px 36px;
    }
    font-size: 17px;
    top: 0;
    left: 235px;
  }

  .main-nav__item--search {
    height: 90px;
  }

  .main-nav__item--cart {
    .main-nav__link {
      padding: 33px 0 33px 84px;
    }
  }

  .main-nav__new {
    display: block;
    position: absolute;
    z-index: 1;
    top: 88px;
    left: 50px;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0;
  }

  .main-nav__sale {
    display: block;
    position: absolute;
    z-index: 1;
    top: 88px;
    left: 270px;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    padding: 20px 0;
  }

  .main-nav__new,
  .main-nav__sale {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
