.order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.order__title {
  display: block;
  margin: 0 auto;
  font-size: 27px;
  line-height: 30px;
  padding: 72px 0;
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
}

.order__description {
  display: block;
  padding: 11px 30px;
  margin: 13px 0;
  font-size: 13px;
  line-height: 24px;
}

.order-form__item {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.order-form__title {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
  margin-bottom: 14px;
}

.order-form__list {
  .list-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order-form__list-item {
  width: 100%;
  display: flex;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.order-form__label {
  align-self: center;
  width: auto;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  margin: 20px 0;
  margin-left: 63px;
}

.order-form__label--radio::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -62px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
}

.order-form__radio:checked ~ .order-form__label--radio::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -50px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -64px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #444444;
}

.order-form__checkbox:checked ~ .order-form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -55px;
  width: 23px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.order-form__input-text {
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;

  &:hover {
    border-color: #62d1ba;
  }
}

.order-form__item--fio {
  margin-bottom: 24px;
}

.order-form__item--fio .order-form__list-item {
  flex-wrap: wrap;
  margin: 15px 0 7px 0;
}

.order-form__item--fio .order-form__label {
  width: 100%;
  margin: 0;
}

.order-form__item--phone {
  margin: 0 0 30px 0;
  position: relative;
}

.order-form__input-text--phone {
  margin-top: -6px;

  &:hover ~ .order-form__phone-icon {
    fill: #62d1ba;
  }

  &:active ~ .order-form__phone-icon {
    fill: #62d1ba;
  }
}

.order-form__phone-icon {
  position: absolute;
  top: 36px;
  right: 45px;
  width: 25px;
  height: 24px;
  fill: #cccccc;
}

.order-form__item--email {
  margin-bottom: 32px;
  position: relative;
}

.order-form__email-icon {
  position: absolute;
  top: 38px;
  right: 45px;
  width: 25px;
  height: 24px;
  fill: #cccccc;
}

.order-form__input-text--email {
  margin-top: -6px;

  &:hover ~ .order-form__email-icon {
    fill: #62d1ba;
  }

  &:active ~ .order-form__email-icon {
    fill: #62d1ba;
  }
}

.order-form__item--wishes {
  margin-bottom: 14px;
}

.order-form__input-text--wishes {
  margin: 10px 0 0 0;
  padding: 10px;
  height: 136px;
  width: 100%;
  border: 2px solid #000000;

  &:hover {
    border-color: #62d1ba;
  }
}

.order-form__button-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.order-form__remark {
  font-size: 14px;
  line-height: 16px;
}

.button--form {
  cursor: pointer;
  width: 100%;
  margin: 30px auto 56px auto;
}

@media (min-width: @tablet-width) {
  .order__title {
    font-size: 43px;
    line-height: 50px;
    padding: 90px 0 82px 0;
    margin: 0 auto 64px auto;
    position: relative;
  }

  .order__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    width: 100%;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
  }

  .order__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
    padding: 11px 50px;
  }

  .order-form__item {
    margin-top: -4px;
  }

  .order-form__item--color {
    margin-top: 20px;
    padding: 44px 0 14px 0;
    background-color: #f1f1f1;
  }

  .order-form__title {
    min-width: 25%;
    width: auto;
    margin-top: 26px;
  }

  .order-form__list {
    width: 75%;
  }

  .order-form__list-item--color {
    width: 47%;
  }

  .order-form__label {
    font-size: 19px;
    line-height: 18px;
    margin-left: 63px;
  }

  .order-form__item--fio {
    margin: 0;
    padding: 38px 50px 20px 50px;
  }

  .order-form__item--fio .order-form__title {
    margin-top: 30px;
  }

  .order-form__item--fio .order-form__list-item {
    flex-wrap: nowrap;
    margin: 0;
  }

  .order-form__item--fio .order-form__label {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .order-form__input-text {
    font-size: 19px;
    line-height: 18px;
    padding-left: 20px;
    margin: 12px 0 12px 20px;
    width: 100%;
  }

  .order-form__item--phone {
    margin: -4px 0 24px 0;
    flex-wrap: nowrap;
  }

  .order-form__email-icon,
  .order-form__phone-icon {
    top: 22px;
    right: 65px;
  }

  .order-form__item--email {
    padding: 0 50px 2px 50px;
    flex-wrap: nowrap;
  }

  .order-form__input-text--phone,
  .order-form__input-text--email {
    width: 100%;
    padding-right: 50px;
    margin: 8px 0 0 0;
    background-color: #f1f1f1;
  }

  .order-form__item--wishes {
    padding-top: 44px;
  }

  .order-form__input-text--wishes {
    margin: 10px 0 0 -2px;
    font-size: 19px;
    line-height: 18px;
    width: auto;
    padding: 10px;
    height: 127px;
  }

  .order-form__button-flex {
    flex-direction: row;
  }

  .order-form__remark {
    font-size: 17px;
    line-height: 30px;
    order: 1;
    margin: 48px 0 0 0;
    padding: 0;
  }

  .button--form {
    margin: 40px 0 50px 0;
    width: 176px;
    padding: 14px 25px 15px 25px;
  }
}

@media (min-width: @desktop-width) {
  .order__title {
    font-size: 53px;
    line-height: 57px;
    text-align: center;
    padding: 90px 0 102px 0;
  }

  .order__title::after {
    bottom: -10px;
    height: 34px;
  }

  .order__description {
    margin: 0 auto;
    width: 700px;
    padding: 60px 175px 0 175px;
    margin-bottom: 46px;
  }

  .order-form__title {
    min-width: 0;
    margin: 30px 0 0 0;
    width: 114px;
    padding-left: 61px;
  }

  .order-form__list {
    margin: 0;
    width: 875px;
  }

  .order-form__item {
    margin: -2px auto 22px auto;
  }

  .order-form__item--color .order-form__list {
    justify-content: flex-start;
  }

  .order-form__item--color .order-form__list-item {
    width: 260px;
  }

  .order-form__item--fio {
    margin: 0 auto;
    padding: 34px 50px 10px 50px;
  }

  .order-form__item--fio .order-form__list {
    width: 700px;
    margin-right: 175px;
    margin-top: 16px;
  }

  .order-form__item--fio .order-form__label {
    margin-bottom: 30px;
  }

  .order-form__item--fio .order-form__input-text {
    margin: 0 0 25px 20px;
    width: 535px;
    padding: 0 20px 0 20px;
  }

  .order-form__item--phone {
    padding: 8px 50px 0 50px;
  }

  .order-form__item--email {
    padding: 0 50px 8px 50px;
  }

  .order-form__label {
    margin: 20px 0 20px 63px;
  }

  .order-form__label--radio {
    width: 765px;
  }

  .order-form__item--color {
    justify-content: flex-start;
    background-color: #f1f1f1;
    margin-top: 12px;
    padding: 40px 50px 18px 50px;
  }

  .order-form__label--checkbox {
    width: 165px;
  }

  .order-form__input-text--phone,
  .order-form__input-text--email {
    width: 660px;
    padding: 0 20px 0 20px;
    margin: 3px 0 3px 0;
    margin-right: 175px;
  }

  .order-form__item--phone .order-form__title,
  .order-form__item--email .order-form__title,
  .order-form__item--wishes .order-form__title {
    margin-top: 20px;
  }

  .order-form__email-icon {
    top: 16px;
    right: 240px;
  }

  .order-form__phone-icon {
    top: 23px;
    right: 240px;
  }

  .order-form__item--fio .order-form__input-text--name {
    width: 585px;
    padding: 0 20px 0 20px;
  }

  .order-form__item--wishes {
    padding: 48px 50px 44px 50px;
  }

  .order-form__input-text--wishes {
    font-size: 21px;
    line-height: 21px;
    width: 666px;
    height: 110px;
    padding: 15px;
    margin-right: 175px;
    margin-top: 0;
  }

  .order-form__button-flex {
    width: 700px;
  }

  .order-form__remark {
    margin-top: -6px;
  }

  .button--form {
    margin: -16px 0 50px 0;
  }
}
