.reviews {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 66px;
}

.reviews__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.reviews__flex::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 7px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  transform: rotate(180deg);
  background-size: 320px 100%;
}

.reviews__title {
  margin-bottom: 10px;
}

.reviews__text {
  margin-bottom: 24px;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.reviews__author-account {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 28px;
}

.reviews__arrows {
  display: flex;
  margin-bottom: 36px;
  width: 100%;
}

.reviews__arrow {
  flex-basis: 50%;
  height: 50px;
  border: 1px solid #ececec;
}

.reviews__arrow:first-child {
  position: relative;

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.reviews__arrow:first-child::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 26px;
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__arrow:last-child {
  position: relative;

  &:hover::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.reviews__arrow:last-child::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 26px;
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: @tablet-width) {
  .reviews {
    font-size: 17px;
    margin-bottom: 82px;
  }

  .reviews__flex {
    width: auto;
    margin: 0;
    background-color: #ffffff;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    padding: 54px 50px 20px 50px;
  }

  .reviews__flex::after {
    transform: rotate(180deg);
    background-size: 768px 100%;
    height: 17px;
    width: 100%;
    bottom: -85px;
    left: 0;
  }

  .reviews__title {
    order: -2;
    padding: 22px 0;
  }

  .reviews__text {
    width: 100%;
    margin-bottom: 54px;
  }

  .reviews__arrows {
    margin: -82px 0 0 498px;
  }

  .reviews__arrow {
    width: 80px;
  }

  .reviews__arrow:first-child::before {
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 26px;
  }

  .reviews__arrow:last-child::before {
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 26px;
  }

  .button--reviews {
    order: -1;
    align-self: center;
    margin-top: -4px;
    width: 122px;
    padding: 14px 25px 15px 25px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    font-size: 17px;
    margin-bottom: 90px;
  }

  .reviews__flex {
    width: 875px;
    padding: 26px 0 40px 175px;
    margin: 0 auto;
  }

  .reviews__flex::after {
    background-size: 1050px 100%;
    width: 1050px;
    bottom: -120px;
    height: 23px;
  }

  .reviews__title {
    order: -2;
    padding: 20px 0;
  }

  .reviews__text {
    width: 770px;
    margin-bottom: 38px;
  }

  .reviews__arrows {
    margin: -82px 0 0 704px;
  }

  .reviews__arrow {
    width: 80px;
  }

  .button--reviews {
    order: -1;
    align-self: center;
    width: 122px;
    margin: -1px 0 0 0;
  }
}
