.special-offer {
  .mobile-width;
}

.special-offer__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 26px 30px 40px 30px;
}

.special-offer__title {
  padding: 4px 0;
}

.special-offer__subtitle {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.special-offer__text {
  margin: 24px 0 16px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.special-offer__features {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 24px 0;
  padding: 0;
}

.special-offer__item {
  border-bottom: 1px solid #ececec;
}

.special-offer__feature {
  padding: 10px 0;
  width: 95px;
}

.special-offer__image {
  margin-bottom: 6px;
}

.special-offer__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .special-offer {
    .tablet-width;
  }

  .special-offer__flex {
    padding: 36px 50px 54px 50px;
    height: 530px;
  }

  .special-offer__title {
    padding: 10px 0;
  }

  .special-offer__subtitle {
    order: 1;
    width: 50px;
    display: flex;
    margin: 0 0 0 142px;
    text-align: center;
    padding: 20px 0;

  }

  .special-offer__text {
    margin: 40px 0 33px 0;
    font-size: 17px;
    line-height: 30px;
    width: 290px;
  }

  .special-offer__image {
    order: 2;
    width: 334px;
    height: 404px;
    margin: 38px 0 0 -94px;
  }

  .special-offer__features {
    width: 334px;
    margin: 0 0 54px 0;
  }

  .special-offer__price {
    width: 334px;
    text-align: center;
    margin: 0 0 32px -22px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .special-offer {
    .desktop-width;
  }

  .special-offer__flex {
    padding: 44px 50px 80px 50px;
    height: 600px;
  }

  .special-offer__title {
    z-index: 2;
    padding: 10px 0;
  }

  .special-offer__subtitle {
    order: -1;
    width: 55px;
    margin: 0;
    padding: 22px 74px 20px 46px;
    flex-basis: 100%;
  }

  .special-offer__text {
    width: 300px;
    padding: 0 50px 0 0;
    margin: 40px 16px 46px 0;
  }

  .special-offer__image {
    order: 2;
    width: 525px;
    height: 636px;
    margin: -40px 0 0 -180px;
  }

  .special-offer__features {
    width: 350px;
    margin: 0 0 108px 0;
  }

  .special-offer__price {
    width: 350px;
    text-align: center;
    margin: 0 0 32px -30px;
    font-size: 20px;
    line-height: 24px;
  }
}
