body {
  margin: 0;
  // background: url("../img/preview/mishka-form-mobile.jpg") no-repeat 50% 0;
  background-size: @mobile-width auto;
}

@media (min-width: @tablet-width) {
  body {
    margin: 0;
    // background: url("../img/preview/mishka-form-tablet.jpg") no-repeat 50% 0;
    background-size: @tablet-width auto;
  }
}

@media (min-width: @desktop-width) {
  body {
    margin: 0;
    // background: url("../img/preview/mishka-form-desktop.jpg") no-repeat 50% 0;
    background-size: @desktop-width auto;
  }
}
